In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("file1.csv.txt")
df2 = pd.read_csv("file2.csv.txt")

In [3]:
df2.head()

     id  last_name
0  1000      Vetto
1  1001      Smpot
2  1003       Alfa
3  1007      Kontu

In [4]:
df1.head()

     id  first_name
0  1000       Veiko
1  1001       Pontu
2  1002       Lontu
3  1003      Smontu

### 1. VLookup demo kasutades join meetodit

In [ ]:
# The .join() method will join columns of another DataFrame. By default it does a left join, 
# but you can specify this by passing the how= hyperparameter and changing it to ‘right’, ‘outer’, or ‘inner’}.
# We needed to call the .set_index() method on df_1 and df_2 so we could join on the right index.

In [5]:
df1.set_index('id').join(df2.set_index('id'))

      first_name  last_name
id
1000       Veiko      Vetto
1001       Pontu      Smpot
1002       Lontu        NaN
1003      Smontu       Alfa

### 2. VLookup demo kasutades merge meetodit

In [ ]:
# The .merge() method merges a DataFrame or named Series objects with a database-style join.
# Here I specified how I wanted it joined with how= and on what column/index by specifying the on= hyperparameter.

In [8]:
df1.merge(df2, how='left', on='id')

     id  first_name  last_name
0  1000       Veiko      Vetto
1  1001       Pontu      Smpot
2  1002       Lontu        NaN
3  1003      Smontu       Alfa

### 3. VLookup demo kasutades concat meetodit

In [ ]:
# The pd.concat() method concatenates pandas objects along a particular axis with optional set logic along the other axes. 
# So here I passed the pandas objects I wanted concatenated as a list. The first being a DataFrame where I set the index to
# the id column and the second being a Series but also indexed on the id column. By setting axis=1, I specified the axis to
# concatenate along, with 1 pertaining to columns and 0 to index (rows). Since the id column is not sorted on df_2 I had to
# specify the sort= hyperparameter as well. The join= hyperparameter specifies how to handle indexes on other axis(es).

In [12]:
df1 = pd.concat([df1.set_index('id'), df2.set_index('id').last_name], axis=1, sort='id', join='inner')

AttributeError: 'DataFrame' object has no attribute 'last_name'